.profile-form {
    background-color: white;
    width: 40%;
    padding: 30px;
    border-radius: 10px;
    display: block;
    flex-direction: column;
    position: absolute;
    left: 30%;
    margin: 10px;
}
label{
    font-family: system-ui;
    float: left;
    margin-left: -10px;
    width: 10em;
}
.profile{
    color: #27263D;
}
.profile-wrapper {
    overflow: hidden;
    background: rgb(220, 230, 198);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: block;
    justify-content: center;
  }

  
  input[type=text], select {
    width: 95%;
    padding: 12px 20px;
    margin: 8px ;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

  }
  
  input[type=submit] {
    width: 95%;
    background-color: #27263D;
    color: white;
    font-family: system-ui;
    padding: 14px 20px;
    margin: 8px 0;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #8b7aa8;
  }
  img{
      display: block;
      margin: 20px;
      max-width: 20%;
  }