input[type=submit] {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color:darkslategrey;
    margin-bottom: 20px;
    color: white;
    font-size: large;
    font-weight: bold;
  }
  
  img{
    object-fit: cover;
    width: 200px;
    height: 200px;
    position: relative;
    top: 20px;
    border-radius: 50%;
    left: 40px;
  }
  
  .profileTitle {
    top: 20px;
  }