div {
    margin: 10px 10px;
    padding: 5px;
    height: fit-content;
    margin-bottom: 20px;
}
img {
    position: relative;
    top: 50px;
    width: 300px;
    height: auto;
}
h2 {
    margin: 20px;
}

h3 {
    position: relative;
    top: 40px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }