.task {
    margin: 5px;
    background-color: white;
    border: solid black 1px;
    border-radius: 10px;
    height: fit-content;
    position: relative;
    top: 20px;
}

.taskTitle {
    position: relative;
    top: 0px;
    margin: 2px;
}

.taskPriority {
    margin: 2px;
    top: 2px;
    left: 2px;
}

.divTitle {
    margin: 0%;
}

.taskInfo {
    display:inline-block;
    margin: 5px;
    margin-bottom: 10px;
}

.arrow-right {
    display:inline-block;
    position: relative;
    top: 2px;
    left: 10px;
    width: 0; 
    height: 0;
    padding: 0px; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    
    border-left: 10px solid darkslategrey;
  }

.arrow-left {
    display:inline-block;
    top: 2px;
    width: 0; 
    height: 0; 
    padding: 0px;
    position: relative;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    
    border-right:10px solid darkslategrey; 
  }