form {
    display: flex;
    flex-flow: column wrap;
    padding: 30px;
    border: solid black 1px;
    width: 500px;
    border-radius: 10px;
    background-color: rgb(212, 186, 152);
    position: relative;
    top: 30px;
    left: 30px;
}