.priorityLabel {
    display: flex;
    flex-flow: column wrap;
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}
.prioritySelect {
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    margin: 3px;
    max-width: 85%;
    border-radius: 3px;
    height: 38px;
    padding: 5px 10px;
    background-color: white;
    border: solid black 2px ;
}
option {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}