
.Header{
    position: absolute;
    right: 0;
    background-color: #27263D;
    border-radius: 10px;
    align-items: center;
    width: 74px;
    height: 74px;
    border:2px solid white;
    position: fixed;
}
h3{
    color: white;
}
.HomePageDiv{
    background-color: #27263D;
    height: 80px;
    margin: 0%;
    position: fixed;
    top: 0%;
    width: 100%;
}