.statistics {
    position: relative;
    top: 80px;
    background-color: teal;
    width: 100%;
    left: 0%;
    height: 70px;
    display: flex;
    flex-direction: row;
    padding: 0%;
}
img {
    margin: 0px;
}
.time {
    padding: 0px;
    text-align: left;
}