button {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color:darkslategrey;
    margin: 10px;
    color: white;
    font-size: large;
    font-weight: bold;
}

.loginForm {
    display: flex;
    flex-flow: column wrap;
}

h2 {
    color: darkslategrey;
    position: relative;
    top: 40px;
    margin-left: 30px;
}

p {
    font-family: 'Courier New', Courier, monospace;
}