header {
    background-color: darkslategrey;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    z-index: 999;
}

b {
    color: white;
    margin: 20px;
    position: relative;
    font-weight: normal;
    font-size: larger;
    top: 5px;
}

.navlink {
    color: white;
    margin: 20px;
    position: relative;
    text-decoration: none;
    font-size: larger;
    left: 50px;
}

.navlinkAuth {
    color: white;
    margin: 20px;
    position: relative;
    left: 70px;
    text-decoration: none;
    font-size: larger;
    top: 12px;
}

.homeImage{
    width: 30px;
    height: 30px;
    top: 8px;
    left: 0px;
    margin: 0px 15px;
}
