label {
    display: flex;
    flex-flow: column wrap;
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
}
input {
    margin: 3px;
    max-width: 80%;
    border-radius: 3px;
    height: 20px;
    padding: 5px 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}