.column {
    float: left;
    width: 22%;
    margin: 30px 8px;
    background-color: rgb(212, 186, 152);;
    border: black solid 1px;
    border-radius: 10px;
    min-height: 700px;
    height: fit-content;
    overflow: auto;
}
.columnTitle{
    top: 10px;
    margin: 10px;
}
.addTask {
    background-color: darkslategrey;
    width: 35px;
    height: 35px;
    border-radius: 30px;
    color: white;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    position: relative;
    left: 40%;
    top: 30px;
}

.navlinkNewTask {
    left: 40%;
    top: 20px;
    text-decoration: none;
}