form{
    background-color: white;
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 30px;
}
.buttonsdiv{
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.auth-wrapper {
    overflow: hidden;
    background: rgb(220, 230, 198);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: block;
    justify-content: center;
}